services:
  traefik:
    image: traefik:v3.4.0
    ports:
      - "8000:80"
      - "4430:443"
      - "8080:8080"   # Dashboard
      - "9000:9000"   # odoo entryPoint
      - "9001:9001"   # hw_proxy entryPoint
    volumes:
      - ../../docker/certs/ca.pem:/etc/traefik/docker_certs/ca.pem:ro
      - ../../docker/certs/client-cert.pem:/etc/traefik/docker_certs/client-cert.pem:ro
      - ../../docker/certs/client-key.pem:/etc/traefik/docker_certs/client-key.pem:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic_conf.yml:/etc/traefik/dynamic_conf.yml:ro
      - ./traefik/certs:/etc/traefik/certs:ro
      - ./traefik/acme.json:/etc/traefik/acme.json
    logging:
      driver: "journald"
    restart: unless-stopped
    networks:
      - odoo_network

  fiesta_db:
    image: postgres:13.21-alpine3.20
    # set shared memory limit when using docker compose
    shm_size: 128mb
    volumes:
      - ./postgres/pgdata:/var/lib/postgresql/data/pgdata
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    logging:
      driver: "journald"
    restart: unless-stopped
    networks:
      - odoo_network

  hw_proxy_service:
    build:
      context: ../../hw_proxy
      dockerfile: ./hw_proxy/Dockerfile
    env_file:
      - ./hw_proxy.env
    environment:
      ENVIRONMENT: development
      SET_OPEN_API: true
      SET_DOCS: true
      SET_REDOC: true
      PRINTER_KEY: "PP6800"
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    group_add:
      - dialout
    volumes:
      - ../../hw_proxy/hw_proxy:/opt/hw_proxy
      - ./hw_proxy.env:/opt/hw_proxy/.env:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hw-proxy.entrypoints=hw"
      - "traefik.http.services.hw-proxy.loadbalancer.server.port=8015"
    logging:
      driver: "journald"
    restart: unless-stopped
    networks:
      - odoo_network

  fiesta_odoo:
    image: odoo:18.0
    volumes:
      - ./odoo/data:/var/lib/odoo
      - ./odoo/config:/etc/odoo
      - ./odoo/addons:/mnt/extra-addons
    links:
      - "fiesta_db:db"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.odoo.entrypoints=api,websecure"
      - "traefik.http.services.odoo.loadbalancer.server.port=8069"
    logging:
      driver: "journald"
    depends_on:
      - fiesta_db
    restart: unless-stopped
    networks:
      - odoo_network

networks:
  odoo_network:
    driver: bridge